@charset "utf-8";
// Set your brand colors
$green: #1ca086;
$brown: #757763;

// Update Bulma's global variables
$grey-dark: $brown;
$primary: $green;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
// $body-background-color: $beige-lighter;
@import "~bulma/bulma.sass";

// Sticky Footer
.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}
